.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.netrc
/Frameworks/PolywrapClientNative.xcframework/*/PolywrapClientNative.a
.swiftpm
/Sources/PolywrapClient/Resources/include
!/Sources/PolywrapClient/Resources/include/module.modulemap
/Sources/PolywrapClient/Resources/wrappers