.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.netrc
/Frameworks/PolywrapClientNative.xcframework/*/libPolywrapClientNative.a
/Frameworks/PolywrapClientNative.xcframework/*/Headers/*.h
.swiftpm
/Tests/Cases
cov.info
/Build
/BuiltDocs
/docs

/Example/Pods/